<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">   

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../text.css">
    
    <title>Hi Monika!</title>
</head>
<body>
    <script src="../animation.js"></script>

    <div id="mainContainer">
        <div id="Title" class="textMain" >do you want to be my valentine?</div>
        <div class="subText">and join me for dinner tonight?</div>
        <form id="yesOrNo" action="/anwser" method="post">
            <button class="buttonText" type="submit"  name="anwser" value="yes">Yes</button>
            <button type="submit" name="anwser" value="no">No</button>
        </form>
    </div>

    
</body>
</html>